* {
  margin: 0;
  padding: 0;
}

.login {
  width: 100%;
  min-height: 100vh;
  background-color: #555;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    height: 50vh;
    width: 40%;
    background-color: olive;
    padding: 20px;

    span {
      font-size: 20px;
      // margin: 20px;
      display: block;
    }

    input {
      height: 30px;
      width: 70%;
      background-color: indianred;
      border: none;
      outline: none;
      display: block;
      margin-top: 20px;
    }

    button {
      margin-top: 20px;
      height: 10%;
      width: 20%;
      background-color: goldenrod;
      border: 1px solid black;
      cursor: pointer;
    }
  }
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: #555;
  display: none;
  // display: flex;
  // align-items: start;

  header {
    width: 100%;
    height: 100px;
    background-color: darkgrey;

    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      margin: 20px;
      font-size: 20px;
    }

  }

  &__primary {
    display: flex;
    align-items: flex-start;

    aside {
      min-height: 100vh;
      width: 200px;
      background-color: antiquewhite;
      padding: 20px;
      align-items: start;
  
      button {
        height: 50px;
        width: 165px;
        background-color: olivedrab;
        margin-top: 20px;
        border: none;
        cursor: pointer;
    
        &:first-child {
          margin-top: 0;
        }
    
        &:hover {
          background-color: blue;
        }

        &:active {
          background-color: red;
        }
      }
    }

    main {
      padding: 20px;
      min-height: 100vh;
      width: 100%;
      height: 100%;
      // text-align: center;

      color: rgb(255, 244, 141);
    

    article {
      img {
        max-width: 50vh;
        max-height: 50vh;
        object-fit: contain;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
      }

      h2 {
        padding-bottom: 10px;
        text-align: center;
      }

      time {
        display: block;
        text-align: right;
        padding-bottom: 20px;
      }

      p {
        padding-bottom: 30px;
      }
    }

    ul {
      padding-top: 20px;
      padding-bottom: 20px;

      li {
        padding-bottom: 4px;
        
        a {
          color: orange;
        }
      }
    }
  }
}
  
}