* {
  margin: 0;
  padding: 0;
}

.login {
  width: 100%;
  min-height: 100vh;
  background-color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__content {
  height: 50vh;
  width: 40%;
  background-color: olive;
  padding: 20px;
}
.login__content span {
  font-size: 20px;
  display: block;
}
.login__content input {
  height: 30px;
  width: 70%;
  background-color: indianred;
  border: none;
  outline: none;
  display: block;
  margin-top: 20px;
}
.login__content button {
  margin-top: 20px;
  height: 10%;
  width: 20%;
  background-color: goldenrod;
  border: 1px solid black;
  cursor: pointer;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: #555;
  display: none;
}
.main header {
  width: 100%;
  height: 100px;
  background-color: darkgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main header span {
  margin: 20px;
  font-size: 20px;
}
.main__primary {
  display: flex;
  align-items: flex-start;
}
.main__primary aside {
  min-height: 100vh;
  width: 200px;
  background-color: antiquewhite;
  padding: 20px;
  align-items: start;
}
.main__primary aside button {
  height: 50px;
  width: 165px;
  background-color: olivedrab;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}
.main__primary aside button:first-child {
  margin-top: 0;
}
.main__primary aside button:hover {
  background-color: blue;
}
.main__primary aside button:active {
  background-color: red;
}
.main__primary main {
  padding: 20px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  color: #fff48d;
}
.main__primary main article img {
  max-width: 50vh;
  max-height: 50vh;
  object-fit: contain;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
.main__primary main article h2 {
  padding-bottom: 10px;
  text-align: center;
}
.main__primary main article time {
  display: block;
  text-align: right;
  padding-bottom: 20px;
}
.main__primary main article p {
  padding-bottom: 30px;
}